.contenedorIconos{
    padding-top: .5rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    i{
        padding: 1rem;
        font-size: 3rem;
        color: $colorBlanco;
    }
    a{
        color: $colorBlanco;  
    }
    a:visited{
        color: $colorBlanco;
    }
}