/*SHOWS*/
.shows{
    background: $colorBordo;
    margin-top: 5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/*GALERIA INDEX*/

.galeria{ 
    margin-top: 3rem;
    h2{
        margin-bottom: 2rem;
    }  
    .indexGrid{
        display: grid;
        width: 60%;
        margin: 2rem auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: .8rem;
        grid-row-gap: .8rem;
        grid-template-areas: "foto1 foto1 foto2 foto2"
                             "foto1 foto1 foto2 foto2"
                             "foto1 foto1 foto3 foto3"
                             "foto1 foto1 foto3 foto3";
        .indexPhoto1{
            grid-area: foto1;
        }
        .indexPhoto2{
            grid-area: foto2;
        }
        .indexPhoto3{
            grid-area: foto3;
        }
    }    
} 

/*FOOTER*/
.footer{
    margin-top: 8rem;
    margin-bottom: 0;
    background: $negroPuro;
    color: $colorBlanco;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .footerTexto{
        padding-top: 1rem;
        p{
            color: $colorBlanco;
        }
    }
}
